{% extends 'base.html' %}
{% load static %} 
{% block title %} Contact Us {% endblock %}
<!-- Courses -->
{% block forgot %}  {% endblock %}
{% block contact %}
 <div class="container-fluid pt-3">
 <div class="bg-transparent my-1 p-3 pt-3 border border-warning border-5 rounded-4" style="width: 90%;">
 <h1 style="color: red; padding: 5px;">PATEL JAN KALYAN SEVA SAMITI <br> पटेल जन कल्याण सेवा समिति</h1>
<table>
  <tr>
 <td style="font-size:40px; color: blue; padding:5px;"> Address &#160 </td>
 <td style="font-size:40px; color: blue; padding:5px;"> :- &#160 </td>
 <td style="font-size:30px;"> पटेल स्मारक, जी.टी रोड, मोहन बिगहा, बस स्टैंड, पिन कोड 821307 </td>
</tr>
 <tr>
  <td style="font-size:40px; color: blue; padding:5px;"> Mobile No </td> 
  <td style="font-size:40px; color: blue; padding:5px;"> :- &#160 </td>
  <td style="font-size:30px;"> +91 7869527457, 9135265354</td>
</tr>
  <tr>
    <td style="font-size:40px; color: blue; padding:5px;">Email Id </td> 
    <td style="font-size:40px; color: blue; padding:5px;"> :- &#160 </td>
    <td style="font-size:30px;"> pjkssdehri@gmail.com </td>
  </tr>
    </table>
  </div>
</div>
 {% endblock %}

 {% block mainbody %} {% endblock %}