{% extends 'base.html' %}
{% load static %} 
{% block title %} DonationQR {% endblock %}

{% block donationqr %}
<style type="text/css">
	select{border:solid red 2px;margin: 5px;border-radius: 10px;
	}
</style>
<body>
	<br>
	<div class="container">
		<table align="center">
			<tr align="center">
			<td style="margin: 5px;border-radius: 10px;">
        {% if qr_image_base64 %}
        <img src="data:image/png;base64,{{qr_image_base64 }}" height="200px"> 
        {% endif %}
    </td>
        </tr>
        <tr><td>

        <span style="color:green; font-size:30px;"> Scan this QR Code with any UPI App and Pay</span><br>
    <span style="color:red; font-size:15px;">Or You can Pay on dhirajpatel08@okaxis  or 7869527457 (Dhiraj Patel) from G-pay, 
        Phone-Pay and Amazon-Pay UPI</span><br>
    <span style="font-size:15px;">भुगतान हो जाने के बाद Whatsapp Group में नाम और पता के साथ भुगतान पर्ची भेजें, ताकि हम आपका अभिलेख (Record) सहेज सकें</span><br>
   <span style="font-size:15px;"><a href="https://chat.whatsapp.com/GlQpIdvAhgG4vyVUo0ZW0N"> Patel Smarak Whatsapp Group link</a></span>
   </td></tr>

      <form action="/donationdetail" method="GET"> 
            <tr>
                <td align="center"><br> <button style="color:green;" class="btn btn-outline-warning rounded-4">Pay Again</button> 
                </td>
                </tr>

    </form>
    </table>
     
</div>

{% endblock %}
 {% block mainbody %} {% endblock %}