{% extends 'base.html' %}
{% load static %} 
{% block title %} Our Vision {% endblock %}
<!-- Courses -->
{% block forgot %}  {% endblock %}
<!-- Courses -->
  {% block vision %}
 <div style="overflow-x:auto;">
 <div class="container-fluid pt-3">
 <div class="bg-transparent my-1 p-3 pt-3 border border-warning border-5 rounded-4" style="width: 100%;">
 <h1 style="color: red; padding: 5px;">PATEL JAN KALYAN SEVA SAMITI <br> पटेल जन कल्याण सेवा समिति</h1>
 <span style="color:green; font-size: 30px;"> 
<table>
  <tr>
 <td style="font-size:30px; color: green; padding:5px;"> नमस्कार, आज {% now "jS F Y  P l" %} है, हमलोगों का लक्ष्य है 31 अक्टूबर 2025 को पटेल जी का मूर्ति स्थापित करना। इसी लिए आप लोगों के आग्रह है कि सहयोग राशि जल्द से जल्द देने का कष्ट करे। ताकि  हमलोगों का लक्ष्य पूरा हो सके।
यही समय है कुर्मी एकता का ताकत दिखाये। जितना जल्द हम लोग लक्ष्य को पूरा करेंगे उतना ही ज्यादा हमारे डेहरी ,सासाराम , औरंगाबाद एवं पूरे बिहार में पटेल  समाज का नाम रौशन होगा। यह मूर्ति भारत के सबसे ऊंचा दूसरे स्थान पर है। हम लोग एक इतिहास रचने जा रहे है। </td>
  </tr>
    </table>
  </span>
  </div>
</div>
</div>
{% endblock %}

{% block mainbody %} {% endblock %}



