{% include 'mycss.html' %}
{% block default %}
{% load static %}

<!----main code start---->

<div class="d-flex" style="background-color: #f6f7c1;">
  <div class="p-2 flex-fill" >
    <a href="/"><img src="{% static 'images/PATEL_LOGO.png' %}" height="100px" alt="Logo"></a><br>
  </div>
  <div class="p-2 flex-fill" align="center">
    <span style="font-size: 30px ;color:green; font-family:serif; font-weight: bolder;">PATEL JAN KALYAN SEVA SAMITI <br>पटेल जन कल्याण सेवा समिति<br></span>
    <span style="color: yellow; font-size: 15px; color: blue;">Add:- AT Patel Asmarak, GT Road Bus Stand Dehri, Ward No-26 Dist-Rohtas, Bihar (821307)</sapn>
  </div>
  <div class="p-2 flex-fill" align="right"><a href="{% static 'images/modnarayanfounder.png' %}"><img src="{% static 'images/modnarayanfounder.png' %}"height="105px" alt="Logo" ></a>
  </div>
  </div>
  <div>
  <marquee  direction="left" behavior="scroll" scrollamount="7" onmouseover="this.stop();"onmouseout="this.start();">
    <span style="color:orange;" class="card-text p-0 m-0">Date:- {% now "jS F Y " %} &#160  Day:- {% now "l" %} &#160  Time:- {% now "P " %}    </span >
  </marquee>
</div>

<!---Start menu--toggler--expand-lg- bg-light-->

<nav class="navbar navbar-expand-md navbar-light bg-light" style="font-size:15px ;padding: 5px;">
  <a href="/" class="active navbar-brand" style="font-size:13px;"><i class="fa fa-home faicon" aria-hidden="true"></i> Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse m-0 p-0" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
         <a class="navbar-brand" style="font-size:15px;" href="{% url 'contact' %}"><i class="fa fa-phone faicon" aria-hidden="true"></i> Contact Us</a>
      </li>
      <li class="nav-item">
       <a class="navbar-brand" style="font-size:15px" href="{% url 'vision' %}"><i class="fa fa-book" aria-hidden="true"></i> Vision</a></li>
      <li class="nav-item">
       <a class="navbar-brand" style="font-size:15px" href="{% url 'about' %}"><i class="fa fa-info-circle faicon" aria-hidden="true"></i> About Us</a></li>
      {% if request.user.is_authenticated %}
        <!-------Start Authetication User Login---->
     
     <li class="nav-item">
      <a  class="navbar-brand"style="color: green; padding-top: 15px; font-size:13px;"> {{user.first_name}} {{user.last_name}}</a> </li>
        <li class="nav-item">
      <a  class="navbar-brand"style="color: green; padding-top: 15px; font-size:13px;"> <span style="color:red">Role: {{user.role}}</a> </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" style="color:red; padding-top:15px;font-size:15px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu rounded rounded-4" aria-labelledby="navbarDropdown" style="padding-left:10px">
          <a href="{% url 'logout' %}" class="dropdown-item"  style="color:black; font-size:13px;">Logout</a>
          <a href="{% url 'change_password' %}" class="dropdown-item " style="color:black; font-size:13px;" >Change Password</a>
    <a href="{% url 'profile' %}" class="dropdown-item " style="color:black; font-size:13px;">Update Profile</a></a>
    <a href="{% url 'imageview' %}" class="dropdown-item " style="color:black; font-size:13px;">Update Image</a>
    <a href="donationlist" class="dropdown-item " style="color:black; font-size:13px;" >Show Donation List</a>
    <!------- Start Admin Login---->
         {% if user.role == "Admin" %}

        <a href="addserialno" class="dropdown-item " style="color:black; font-size:13px;" >Letter Serial No</a>
        <a href="https://pjkss.pythonanywhere.com/pateladmin" class="dropdown-item" style="color:red; font-size:13px;" target="_blank">Admin Console</a>
    {% endif %}
    <!------- End Admin Login---->
     
    <!------ Start Member Login---->

      {% if user.role == "Member" %}
   
    
      {% endif %}
       <!------ End Member Login---->
        </div>
      </li>
       <!------ End of authenticated---->
       <li class="navbar-brand" style="float: right; color:red; padding-top: 1px" > 
      <img src="{{user.image.url}}" height="50px"  align="right" class="rounded rounded-3"> </li>
       {% else %}

    <li class="nav-item">
    <a  class="navbar-brand" style="font-size:15px" href="{% url 'signup' %}"> <i class="fa fa-plus" style="color:red"></i> Signup</a></li>
    <li class="nav-item">
    <a class="navbar-brand" style="font-size:15px" href="{% url 'login' %}"><i style="color:red" class="fa fa-sign-in" aria-hidden="true"></i> Member Login</a></li>
    <li class="nav-item">
    </ul>
    <span style="color: red; margin-left: 20px;"> {{msg}} </li>
    {% endif %}
    </ul> 
  </div>
</nav>

<!------ End of Menu---->

{% endblock %}
{% block about %} {% endblock %}
{% block vision %} {% endblock %}
{% block contact %} {% endblock %}
{% block gallery1 %} {% endblock %}
{% block gallery2 %} {% endblock %}
{% block donation %} {% endblock %}
{% block donationqr %} {% endblock %}
{% block content %} {% endblock content %}
{% block sms %}
<table align="center">
  {% if messages %}
    {% for message in messages %}
    <tr>
      <td id="demo"style="color: red; margin-left:50px;"></td>
        <td style="color: red; margin-left:10px;">{{message}}</td>
      </tr>
    {% endfor %}
{% endif %}
</table>
{% endblock %}
{% block mainbody %}
<!---------Content Part---->
<div class="container-fluid">
  <div class="row gy-5">
    <div class="col-6 p-2">
      <div class="p-1 rounded-2 text-center">
        <h2 style="color: red;"> <i style="color:darkred;" class="fa fa-bullhorn" aria-hidden="true"></i> News & Committee Updates 
         <hr>
        <marquee behavior="scroll" direction="up" scrollamount="2"  height="150" onmouseover="this.stop();"onmouseout="this.start();">
          {% for i in dataupdate %}
         
          <li style="color:black; font-size: 20px;">
           <span style="color:red; font-size: 25px"> * </span>{{i.topic}}
          </li> 
          <br>
    
    {% endfor %}
  </marquee>

<div class="container-fluid">
  <h2 style="color:red">पटेल स्मारक के मुख्य  सदस्य</h2>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/maantidevi.jpeg' %}" alt="Lights" style=" height: 100px;" class="rounded-5">
          <div class="caption">
          <h4 style="color:red">अध्यक्ष: </h4>
          <h4 style="color:green">मान्ती देवी</h4>
          </div>
    </div>
  </div>

    <div class="col-md-3">
          <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/bantipatel.jpeg' %}" alt="Lights" style=" height: 100px;" class="rounded-5"><br>
            <h4 style="color:red">सचिव: </h4>
            <h4 style="color:green">राज पटेल उर्फ बंटी</h4>
            </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/amitpatel.jpeg' %}" alt="Lights" style=" height: 100px;" class="rounded-5">
          <div class="caption">
          <h4 style="color:red">कोषाध्यक्ष:</h4>
            <h4 style="color:green">अमित पटेल</h4>
          </div>
          </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/PATEL_LOGO.png' %}" alt="Nature" style="height: 100px;" class="rounded-5">
          <div class="caption">
          <h4 style="color:red">उपाध्यक्ष:</h4>
          <h4 style="color:green">विनोद कुमार सिंह</h4>
          </div>
        </div>
    </div>

  </div>
</div>
 


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/guddupatel.png' %}" alt="Fjords" style="height: 100px;" class="rounded-5">
          <div class="caption">
          <h4 style="color:red">कार्यकारी अध्यक्ष:</h4>
          <h4 style="color:green">गुड्डू पटेल</h4>
          </div>
        </div>
    </div>
       
      <div class="col-md-3">
        <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/dhirajpatel.png' %}" alt="Fjords" style=" height: 100px;" class="rounded-5">
          <div class="caption">
          <h4 style="color:red">निगरानी हेड:</h4>
          <h4 style="color:green">धीरज पटेल</h4>
          </div>
          </div>
    </div>

   <div class="col-md-3">
    <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/krishnapatel.png' %}" alt="Nature" style="height: 100px;" class="rounded-5">
          <div class="caption">
          <h4 style="color:red">संरक्षक:</h4>
          <h4 style="color:green">कृष्णा पटेल</h4>
          </div>
        </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <img src="{% static 'images/vishalpatel.png' %}" alt="Nature" style="height: 100px;" class="rounded-5">
          <div class="caption">
          <h4 style="color:red">संगठन कर्ता:</h4>
          <h4 style="color:green">विशाल पटेल</h4>
          </div>
        </div>
    </div>

<div class="col-md-8">
      <div class="thumbnail rounded-5" style="background-color:#f2eeed;">
          <h3 style="color:red" align="center">वरिष्ठ सदस्य </h3>
          <table align="center">
            <tr align="left">
              <td> <h4 style="color:green">1:- अरविंद सिंह (ढेलाबाद)</h4></td>
              <td> &#160 &#160 &#160 &#160 &#160 &#160</td>
              <td> <h4 style="color:green">6:- संजय पटेल (राजपुर)</h4></td>
            </tr>
        
            <tr align="left">
              <td> <h4 style="color:green">2:- संजय पटेल (तरबंगला)</h4></td>
              <td> &#160 &#160 &#160 &#160 &#160 &#160</td>
              <td> <h4 style="color:green">7:- अनिल कुमार (कांकेर)</h4></td>
            </tr>

             <tr align="left">
              <td> <h4 style="color:green">3:- संजय पटेल (NTPC)</h4></td>
              <td> &#160 &#160 &#160 &#160 &#160 &#160</td>
              <td> <h4 style="color:green">8:- मिथिलेश पटेल</h4></td>
            </tr>

             <tr align="left">
              <td> <h4 style="color:green">4:- सुदामा सिंह (उचैला)</h4></td>
              <td> &#160 &#160 &#160 &#160 &#160 &#160</td>
              <td> <h4 style="color:green">9:- प्रतीक पटेल (रिउर)</h4></td>
            </tr>

             <tr align="left">
              <td> <h4 style="color:green">5:- राजू पटेल (गांधी नगर)</h4></td>
              <td> &#160 &#160 &#160 &#160 &#160 &#160</td>
            </tr>

          </table>
          
      </div>
    </div>
</div>
 </div>
</div>

          </div>
    <div class="col-6 p-2">
      <div class="p-1">
        <h2 style="color:red;"> Founder Mod Narayan Singh </h2>
        <hr>
        <img src="{% static 'images/modnarayanfounder.jpeg' %}" class="rounded-4 p-1" align="left" height="200px" style="padding:0px; margin-left:0px;">

  <div class="p-3">
    <h2 style="color:green;">मोद नारायण सिंह पटेल – जीवनी  </h2>

<h4>पूरा नाम: मोद नारायण सिंह<br>
जन्म तिथि: 24 जनवरी 1953<br>
मृत्यु तिथि: 18 जनवरी 2025<br>
पद: जेडीयू के पूर्व जिला अध्यक्ष<br>
संस्थापक – (पटेल स्मारक) पटेल जन कल्याण सेवा समिति<h4><br><br><br><br>

<h3 style="color:green;">प्रारंभिक जीवन </h3>

मोद नारायण सिंह पटेल जी का जन्म 24 जनवरी 1953 को हुआ था। साधारण पारिवारिक पृष्ठभूमि से आने के बावजूद उन्होंने कम उम्र से ही समाज सेवा को अपना लक्ष्य बना लिया। शिक्षा और जागरूकता के माध्यम से समाज को आगे बढ़ाने की उनकी सोच शुरू से ही स्पष्ट थी।

<br><br>

<h3 style="color:green;">राजनीतिक जीवन </h3>

पटेल जी ने अपने राजनीतिक जीवन की शुरुआत समाजवादी विचारधारा के साथ की। बाद में वे जेडीयू (जनता दल यूनाइटेड) से जुड़े और पार्टी में विभिन्न महत्वपूर्ण पदों पर कार्य करते हुए जिला अध्यक्ष भी बने।
उनका राजनीतिक सफर हमेशा जनता की समस्याओं को उठाने और उनके समाधान की दिशा में काम करने के लिए जाना जाता है।

<br><br>

<h3 style="color:green;">समाज सेवा और योगदान</h3>

अपने पूरे जीवनकाल में उन्होंने समाज सेवा को सर्वोपरि माना।

पटेल स्मारक पटेल जन कल्याण सेवा समिति की स्थापना की, जिसके माध्यम से उन्होंने शिक्षा, स्वास्थ्य और सामाजिक एकता पर विशेष कार्य किए।

उन्होंने पटेल समाज की एकजुटता और उत्थान के लिए विशेष प्रयास किए।

ग्रामीण विकास, शिक्षा प्रसार और गरीब वर्ग की सहायता उनके जीवन का मुख्य उद्देश्य रहा।
<br><br>

<h3 style="color:green;">व्यक्तित्व और विचारधारा</h3>

मोद नारायण सिंह पटेल जी का जीवन सादगी, ईमानदारी और समाजहित की भावना से परिपूर्ण था। वे मानते थे कि समाज की प्रगति ही व्यक्ति की असली सफलता है।
उनका जीवन संघर्ष और सेवा का अद्भुत उदाहरण है, जिसने आने वाली पीढ़ियों के लिए प्रेरणा का स्रोत बनने का काम किया।
<br><br>

<h3 style="color:green;">निधन </h3>

18 जनवरी 2025 को मोद नारायण सिंह पटेल जी का सासाराम सड़क दुर्धत्ना हुआ उसके बाद उन्हें बीएचयू ट्रॉमा सेंटर बनारस में आईसीयू में भर्ती किया गया , 45 दिन तक इलाज करने के दौरान उनकी निधान हो गई। उनके जाने से पटेल समाज और क्षेत्रीय राजनीति को गहरी क्षति हुई। लेकिन उनके द्वारा किए गए कार्य और समाज सेवा की विरासत हमेशा लोगों को प्रेरित करती रहेगी।
</div>
</div>
</div>


     <div class="container-fluid">
        <h2 style="color:red;" align="center">“हमारा लक्ष्य: सरदार वल्लभभाई पटेल जी की मूर्ति स्थापना और कुर्मी पटेल समाज का सर्वांगीण विकास”
</h2>
<hr>
      </div>


<!-----Patel ji ka Histoer  --->

<div class="container-fluid">
<div class="d-flex">
  <div class="p-2 flex-fill">
  <img src="{% static 'images/pateljifullphoto.png' %}" width="100%"> 
</div>
  <div class="p-2 flex-fill"><h3 style="color:green;" align="center">संगठन की आवश्यकता</h3>

<h4>पटेल जन कल्याण सेवा समिति इसी विचार को लेकर स्थापित की गई है कि समाज तभी आगे बढ़ सकता है जब वह एक संगठित शक्ति बने।आज के युग में शिक्षा, तकनीकी, रोजगार और सामाजिक सम्मान ही किसी समुदाय की प्रगति का आधार हैं। हमारी समिति का संकल्प है कि कुर्मी पटेल समाज का हर व्यक्ति इन सभी क्षेत्रों में आत्मनिर्भर बने। संगठन के माध्यम से हर गाँव, हर शहर और हर राज्य में समाज के युवाओं, महिलाओं और वरिष्ठ नागरिकों को जोड़कर एक सशक्त सामाजिक संरचना खड़ी की जा सके।</h4>

<br>
<h3 style="color:green;" align="center"> सरदार पटेल जी के आदर्शों का पालन</h3>

<h4>सरदार वल्लभभाई पटेल जी ने अपने जीवन में जो आदर्श स्थापित किए — जैसे कर्तव्यनिष्ठा, सत्य, दृढ़ इच्छाशक्ति और एकता — वही हमारे कार्यों की नींव हैं। समिति का उद्देश्य है कि इन मूल्यों को समाज के हर वर्ग तक पहुँचाया जाए। हम चाहते हैं कि नई पीढ़ी पटेल जी की जीवनी से प्रेरणा ले, उनके विचारों को समझे और समाज के प्रति अपने दायित्व को पहचान सके। मूर्ति स्थापना केवल श्रद्धांजलि नहीं होगी, बल्कि यह एक शपथ होगी — कि हम पटेल जी के विचारों को अपने कर्म से जीवित रखेंगे। </h4>

<br>
<h3 style="color:green" align="center"> शिक्षा के क्षेत्र में प्रगति</h3>

<h4>कुर्मी पटेल समाज की प्रगति शिक्षा के बिना अधूरी है। समिति का एक प्रमुख उद्देश्य है कि हर बच्चे को गुणवत्तापूर्ण शिक्षा मिले। हम शिक्षा के लिए जागरूकता अभियान चलाएँगे, छात्रवृत्तियाँ उपलब्ध कराएँगे, और गाँव-गाँव में शिक्षा केंद्र स्थापित करेंगे। हमारा मानना है कि जब समाज शिक्षित होगा, तभी वह सशक्त बनेगा। हमारे बच्चे डॉक्टर, इंजीनियर, अधिकारी, शिक्षक, किसान और उद्यमी बनकर देश और समाज का गौरव बढ़ाएँगे।</h4>

<br>

<h3 style="color:green;" align="center">रोजगार और आत्मनिर्भरता </h3>

<h4>हमारा एक और प्रमुख लक्ष्य है कि कुर्मी पटेल समाज का हर युवक और युवती रोजगार के अवसरों से जुड़ सके। इसके लिए समिति कौशल विकास केंद्र, स्वरोजगार योजनाएँ और कृषि-उद्योग प्रशिक्षण कार्यक्रम शुरू करेगी। हम चाहते हैं कि हमारे लोग न केवल नौकरी पाने वाले बनें, बल्कि नौकरी देने वाले भी बनें। आत्मनिर्भरता ही असली स्वतंत्रता है, और यही पटेल जी की सच्ची भावना का अनुसरण है।</h4>

<br>

<h3 style="color:green;" align="center">महिला सशक्तिकरण </h3>

<h4>कोई भी समाज तब तक आगे नहीं बढ़ सकता जब तक उसकी महिलाएँ सशक्त न हों। समिति का एक विशेष उद्देश्य है कि कुर्मी पटेल समाज की महिलाएँ शिक्षा, स्वावलंबन और नेतृत्व के क्षेत्र में आगे आएँ। हम महिला स्वयं सहायता समूह, प्रशिक्षण शिविर और समाजिक जागरूकता कार्यक्रमों के माध्यम से उन्हें नई दिशा देंगे। सरदार पटेल जी ने भी कहा था कि “राष्ट्र की शक्ति उसकी माताओं में निहित होती है।” इसलिए हमारी समिति महिलाओं को समाज की मुख्यधारा में लाने के लिए हर संभव कदम उठाएगी।</h4>
<br>

<h3 style="color:green;" align="center">युवा जागरूकता और नेतृत्व विकास</h3>

<h4>युवा किसी भी समाज की रीढ़ होते हैं। हमारा लक्ष्य है कि समाज के युवाओं को नेतृत्व, अनुशासन और सेवा की भावना से जोड़ा जाए। समिति हर जिले में “पटेल युवा मंच” बनाएगी, जहाँ से युवा समाजसेवा, शिक्षा, खेल और सांस्कृतिक गतिविधियों में हिस्सा ले सकें। उन्हें इतिहास, संविधान और सामाजिक मूल्यों की जानकारी दी जाएगी ताकि वे न केवल अपने समाज बल्कि राष्ट्र के भी सच्चे नागरिक बन सकें।</h4>

<br>

<h3 style="color:green;" align="center">सामाजिक एकता और सहयोग</h3>

<h4>कुर्मी पटेल समाज देश के हर कोने में फैला हुआ है, लेकिन उसकी असली ताकत तब दिखेगी जब सब एक साथ आएँगे। समिति का उद्देश्य है कि समाज के सभी वर्ग — किसान, मजदूर, व्यापारी, विद्यार्थी — एक मंच पर एकजुट होकर अपने अधिकारों और दायित्वों को समझें। आपसी मतभेदों को भुलाकर अगर हम एक झंडे के नीचे खड़े होंगे, तो कोई ताकत हमें कमजोर नहीं कर सकती। यही सरदार पटेल जी की एकता की भावना है।</h4>

<br>


<h3 style="color:green;" align="center">मूर्ति स्थापना का ऐतिहासिक महत्व</h3>

<h4>सरदार वल्लभभाई पटेल जी की मूर्ति हमारी आत्मा का प्रतीक होगी। यह केवल एक श्रद्धांजलि नहीं बल्कि समाज की एकता, त्याग और गौरव की गवाही होगी। जब यह मूर्ति स्थापित होगी, तब हर कुर्मी पटेल परिवार को गर्व होगा कि हमने अपने महापुरुष की विरासत को जीवित रखा। यह स्थल भावी पीढ़ियों के लिए प्रेरणा केंद्र बनेगा, जहाँ लोग यह सीखेंगे कि “एकता में ही शक्ति है।</h4>

<br>


<h3 style="color:green;" align="center">संकल्प और समर्पण</h3>

<h4>हमारा यह संकल्प है कि चाहे कितनी भी चुनौतियाँ आएँ, हम अपने लक्ष्य से पीछे नहीं हटेंगे। पटेल जन कल्याण सेवा समिति समाज के हर सदस्य को साथ लेकर आगे बढ़ेगी। सरदार पटेल जी की मूर्ति हमारे आत्मसम्मान का प्रतीक बनेगी और हमारा कार्य समाज के हर व्यक्ति तक विकास की किरण पहुँचाने का माध्यम बनेगा। हम यह प्रण लेते हैं कि अपने कर्म, अपने विचार और अपने संगठन से कुर्मी पटेल समाज को भारत के सर्वाधिक प्रगतिशील समुदायों में स्थापित करेंगे। यही हमारा मिशन, यही हमारी श्रद्धांजलि और यही हमारा भविष्य है।</h4>
</div>
  <div class="p-2 flex-fill">
  <img src="{% static 'images/pateljiphotofull2.png' %}" width="100%">
   </div>
 </div>
</div>


<!--------Patel Histoty ----->

<div class="container">
  <br><br>
  <h2 style="color:red" align="center"> कुर्मी‑पटेल समाज: इतिहास, स्थिति और संघर्ष </h2>
  <hr>
  <h3  style="color:green"> परिचय एवं भिन्नता</h3>
  <h4>
“कुर्मी‑पटेल” नाम कुछ स्थानों पर interchangeably या मिलते-जुलते प्रयोग होते हैं, विशेषकर उत्तर भारत (उत्तर प्रदेश, बिहार), मध्य प्रदेश, गुजरात आदि राज्यों में। कुर्मी जाति कृषि‑प्रधान परंपरा वाली पिछड़ी (Other Backward Class, OBC) जातियों में आती है। “पटेल/पाटेल” शब्द विशेष रूप से गुजरात‑महाराष्ट्र आदि क्षेत्रों में ज़्यादा प्रयुक्त है, लेकिन कुर्मी‑समुदाय ने भी “पटेल” उपनाम अपनाया है, विशेषकर उनकी राजनीतिक एवं सामाजिक पहचान के सिलसिले में। 
</h4><br>

<h3  style="color:green">भू‑किसानी परंपरा</h3>
<h4>
कुर्मी जाति की मुख्य विशेषता कृषि में उनकी महारत है। वे खेती, माली कार्य, सब्जी उत्पादन, बागबानी आदि में कुशल माने जाते हैं। ऐतिहासिक रूप से उन्होंने ज़मीन की उर्वरता, सिंचाई, फसल‑चयन आदि में नवाचार किए। ब्रिटिश राज के एजेंटों ने भी कुर्मी किसानों को मेहनती, ज़मीन जोतने‑बिछाने और विविध फसलों के उत्पादन में श्रेष्ठ माना। 
</h4> <br>

<h3  style="color:green">सामाजिक स्थिति और पिछड़ापन</h3>
<h4>
सामाजिक रूप से, कुर्मी समाज वर्षों से “पिछड़ी जाति (Backward Caste)” की श्रेणी में रहा है। उन्हें केंद्र‑राज्य की योजनाओं, शिक्षण संस्थानों, नौकरियों आदि में आरक्षण का अधिकार मिला है, लेकिन सामाजिक प्रतिष्ठा, आर्थिक संसाधन, शिक्षा और राजनीतिक भागीदारी में अब भी असमानताएँ मौजूद हैं। 
</h4><br>

<h3  style="color:green">सामरस्य और पहचान की मांग</h3>
<h4>
बीसवीं सदी के आरंभ में और मध्यम अवधि में, कुर्मी समाज ने “क्षत्रिय” पहचान की मांग की। उन्होंने सामाजिक आंदोलन किए, अखिल भारतीय कुर्मी महासभा जैसी संस्थाएँ बनाई जो “Kurmi Kshatriya” के तौर पर अपनी समान प्रतिष्ठा चाहते थे। यह मांग सिर्फ सामाजिक सम्मान की नहीं, बल्कि राजनीतिक एवं आर्थिक अवसरों में बराबरी की थी। 
</h4><br>

<h3  style="color:green">Triveni Sangh और राजनीतिक आंदोलन</h3>
<h4>
बिहार में 1930‑40 के दशक में कुर्मी, यादव और कोएरी जातियों ने मिलकर Triveni Sangh बनाया। इसका मकसद था सामाजिक, शैक्षिक और राजनीतिक अधिकारों के लिए मिलकर संघर्ष करना। हालांकि यह संगठन बहुत शक्तिशाली नहीं हो पाया चुनावों में, लेकिन उसने पिछड़ी जातियों में राजनीतिक चेतना और एकजुटता को बढ़ाया। 
</h4><br>

<h3  style="color:green">भू़मि सेना (Bhumi Sena)</h3>
<h4>
1980 के दशक में बिहार में कुर्मी ज़मींदारों द्वारा बनाई गई “भू़मि सेना” एक निजी सैन्य संगठन थी, जिसका उद्देश्य था दलित मजदूरों और माओवादी गतिविधियों के प्रसार को रोकना। भौगोलिक और सामाजिक संघर्ष की इस परत ने कुर्मी समाज की राजनीतिक एवं सामाजिक स्थिति को और जटिल बनाया। 
</h4><br>

<h3  style="color:green">सामाजिक परिवर्तन और शिक्षा</h3>
<h4>
शिक्षा ने कुर्मी समाज में बड़ी भूमिका निभाई है। जब शिक्षा तथा सरकारी नौकरियों के अवसर बढ़े, कुर्मी परिवारों ने अपने बच्चों को शिक्षित करने पर जोर दिया। इससे केवल आर्थिक स्थिति में सुधार नहीं हुआ, बल्कि राजनीतिक चेतना और नेतृत्व भी जन्मा। 
</h4><br>

<h3  style="color:green">राजनीति में भागीदारी</h3>
<h4>
राजनीतिकता में कुर्मी समाज ने समय‑समय पर बड़े रोल निभाया है। राज्य सरकारों, क्षेत्रीय पार्टियों में कुर्मी नेताओं की उपस्थिति बढ़ी है। वे वोट बैंक के रूप में महत्वपूर्ण हैं। खासतौर पर उत्तर प्रदेश, बिहार जैसे राज्यों में कुर्मी उम्मीदवारों का प्रभावी होना यह बताता है कि समाज ने राजनीति में अपनी हिस्सेदारी बढ़ाई है। 
</h4><br>

<h3  style="color:green">नए उपनाम "पटेल" का प्रयोग और पहचान</h3>
<h4>
जैसा कि स्रोत बताते हैं, कुर्मी समुदाय ने “पटेल” उपनाम का अधिक उपयोग शुरू किया है, विशेष रूप से सामाजिक पहचान, राजनीतिक मंच पर समानता, सम्मान एवं जाति‑समूह में एकता बनाने के लिए। उदाहरण स्वरूप, Sonelal नामक एक नेता ने “Jaat Paat Chodo, Patel Jodo” जैसा नारा दिया। 
</h4><br>

<h3  style="color:green">संघ, संगठन और सामाजिक संस्थाएँ</h3>
<h4>
अखिल भारतीय कुर्मी महा सभा आदि संगठन समय‑समय पर कुर्मी समाज के अधिकारों की रक्षा, सामाजिक न्याय, आरक्षण, विकास योजनाओं की पूर्ति आदि के लिए संघर्ष करते रहे हैं। ये संस्थाएँ समुदाय को संगठित करती हैं और सरकारों के समक्ष आवाज उठाती हैं। 
</h4><br>

<h3  style="color:green">अस्सी‑नब्बे के दशक: सशक्तिकरण और चुनौतियाँ </h3>
<h4>
1980‑1990 के दशकों में कुर्मी समाज ने भू़मि सेना जैसी चुनौतियों के बीच में भी अपनी स्थिति सुदृढ़ करने की कोशिश की। राजनीतिक दलों में हिस्सेदारी बढ़ी, नेताओं की संख्या बढ़ी, और सामाजिक न्याय के लिए नई मांगें उठीं। लेकिन हिंसा, जातिगत संघर्ष और संसाधन‑अभाव ने उनके विकास को बाधित किया। 
</h4><br>

<h3  style="color:green">दलित‑पिछड़ी जातियों के संघर्ष में कुर्मी की भूमिका</h3>
<h4>
कुर्मी जाति ने अक्सर दलित आंदोलन के विरोधी पक्षों में भी स्थान पाया है और कुछ मामलों में उनकी भूमिका विवादित रही है, लेकिन साथ ही उन्होंने समाज‑उठाव और समान अधिकारों की लड़ाई में उन आंदोलनों को भी समर्थन दिया है। सामाजिक बदलावों में उनकी भूमिका जटिल है — कभी वे उत्पीड़ित समूह के साथ, कभी मध्य‑भूमि में, कभी सत्ता‑संरचना का हिस्सा बन कर। 
</h4><br>

<h3  style="color:green">भविष्य की संभावनाएँ </h3>
<h4>
आधुनिक समय में कुर्मी‑पटेल समाज की चुनौतियाँ हैं: शिक्षा की पहुंच, स्वास्थ्य सुविधाएँ, राजनीतिक प्रतिनिधित्व, सामाजिक समानता। लेकिन अवसर भी हैं: डिजिटल शिक्षा, नए सरकारी योजनाएँ, समाज में जागरूकता, नेताओं का उदय आदि। यदि समाज एकजुट हो कर सामान्य विकास पर जोर दे, तो उनकी स्थिति में निरंतर सुधार हो सकता है।
</h4><br>

<h3  style="color:green">बहु‑संस्कृति समाज में पहचान का संघर्ष</h3>
<h4>
हिन्दी भाषी प्रदेशों में जात‑पांत और सामाजिक पहचान की लड़ाई लगभग हर पिछड़ी जाति को करनी पड़ी है। कुर्मी‑समाज ने भी अपने इतिहास, संस्कृति, परंपराओं के माध्यम से एक सकारात्मक पहचान बनाने की कोशिश की है। लोककथाएँ, गीत‑संगीत, लोकनृत्य आदि में उनकी सांस्कृतिक विरासत महत्वपूर्ण है।
</h4><br>

<h3  style="color:green">भूमिका‑मॉडल एवं वीर व्यक्तित्व</h3>
<h4>
जबकि कुर्मी‑समाज के बीच कुछ वीर व्यक्तियों के नाम समय‑समय पर सामने आते हैं, दर्शनीय रूप से संगठनात्मक, सामाजिक संघर्षों में उन्होंने साहस दिखाया है। जैसे लॉबींग, आंदोलन, चुनाव लड़ना, न्याय के लिए लड़ना। ये सारे काम वीरता की तरह माने जा सकते हैं — क्योंकि ये संघर्ष बाहरी और भीतरी बाधाओं के खिलाफ होते रहे हैं।
</h4><br>

<h3  style="color:green">भू़मि सेना का मूल्यांकन</h3>
<h4>
भू़मि सेना को एक नैतिक रूप से विवादित संगठन माना जाता है। जिस तरह उसने अपने सामाजिक समूह की “संरक्षा” के नाम पर हिंसा की, उस तरह के कार्रवाइयाँ समाज को आगे ले जाने से रोकती हैं। लेकिन सामाजिक, राजनीतिक दबावों, भय और असमानता की स्थितियों में ऐसे संगठन बनना कुछ लोगों के लिए “साहस” या “आत्मिक सुरक्षा” का तरीका हो सकता है। इसे पूरी तरह सकारात्मक वीरता नहीं माना जा सकता।
</h4><br>

<h3  style="color:green">समाज के आंतरिक विभाजन और चुनौती</h3>
<h4>
समाज के भीतर आर्थिक स्तर, शिक्षा‑स्तर, नेतृत्व की पहुँच आदि में अंतर है। सब कुर्मी परिवारों के पास समान संसाधन नहीं हैं। कुछ परिवार बहुत समर्थ हैं; कुछ अभी भी गरीबी, अशिक्षा, सामाजिक असमानता से जूझते हैं। ये आंतरिक विभाजन समाज के विकास को प्रभावित करते हैं।
</h4><br>

<h3  style="color:green">लिंग विभाजन और अवसर</h3>
<h4>
महिलाओं की स्थिति, शिक्षा, स्वास्थ्य, सामाजिक मान्यता के मामले में कुर्मी‑समाज की लड़ाइयाँ अभी बाकी हैं। बाल विवाह, लड़कियों की शिक्षा में कमी आदि मुद्दे हैं। लेकिन अब अधिक जागरूकता है, स्त्री‑शिक्षा कार्यक्रम चल रहे हैं, सामाजिक बदलाव की दिशाएँ बढ़ रही हैं।
</h4><br>

<h3  style="color:green">संयुक्त संघर्ष और आगे की राह</h3>
<h4>
यदि कुर्मी‑पटेल समाज अपने संगठनों, नेताओं, शिक्षित वर्ग के माध्यम से एक साझा एजेंडा तय करे — जैसे कि शिक्षा, स्वास्थ्य, आर्थिक सशक्तिकरण, महिला सशक्तिकरण, तकनीकी प्रशिक्षण आदि — तो उनका सामाजिक और राजनीतिक आत्म‑स्थिरता बढ़ सकती है।
</h4><br>

<h3  style="color:green">उपसंहार</h3>
<h4>
कुर्मी‑पटेल समाज की इतिहास यात्रा संघर्षों, सामाजिक गतिरोधों और एकता की पहलों की कहानी है। वीरता सिर्फ युद्ध‑कदमों में नहीं, बल्कि रोज़मर्रा की चुनौतियों, अन्याय के खिलाफ नीची आवाज उठाने में और स्वाभिमान बनाए रखने में है। यह समाज जहाँ अभी भी परंतु आगे बढ़ रहा है।
</h4>
</div>

<div class="container">
  <br><br>
  <h2 style="color:red" align="center"> पटेल कुर्मी समाज की महानता </h2>
  <hr>
  <h3  style="color:green"> सामाजिक एकता और सौहार्द:</h3>
  <h4> कुर्मी समाज ने सदियों से सामाजिक एकता और सौहार्द का प्रतीक है। इस समाज ने हमेशा अपने सदस्यों के बीच एकता और भाईचारे की भावना को बनाए रखा है, जो आज भी एक आदर्श उदाहरण है। कुर्मी समाज के लोगों ने अपने समाज और देश के लिए एकजुट होकर काम किया है और आगे भी करते रहेंगे।</h4><br>

  <h3  style="color:green">कृषि परंपरा और योगदान:  </h3>
  <h4> कुर्मी समाज की कृषि परंपरा और योगदान को कभी भुलाया नहीं जा सकता। इस समाज के लोगों ने सदियों से खेती और पशुपालन को अपनी आजीविका का मुख्य साधन बनाया है और देश की खाद्य सुरक्षा में महत्वपूर्ण योगदान दिया है। कुर्मी समाज के लोगों ने कृषि के क्षेत्र में नए तरीकों और तकनीकों को अपनाकर उत्पादन बढ़ाने का प्रयास किया है।</h4><br>


  <h3  style="color:green">सांस्कृतिक धरोहर और परंपराएं:  </h3>
  <h4> कुर्मी समाज की सांस्कृतिक धरोहर और परंपराएं अद्वितीय हैं। इस समाज के लोग अपनी समृद्ध संस्कृति और परंपराओं को सहेजकर रखे हुए हैं और नए पीढ़ी को भी इनके बारे में बताते हैं। कुर्मी समाज के लोग अपने त्योहारों और उत्सवों को बड़े उत्साह और उल्लास के साथ मनाते हैं।</h4><br>

  
  <h3  style="color:green">शिक्षा और सामाजिक सुधार:</h3>
  <h4>कुर्मी समाज ने शिक्षा और सामाजिक सुधार में महत्वपूर्ण योगदान दिया है। इस समाज के लोगों ने शिक्षा के क्षेत्र में उल्लेखनीय कार्य किए हैं और सामाजिक सुधार के लिए भी काम किया है। कुर्मी समाज के लोगों ने शिक्षा के प्रसार के लिए स्कूल और कॉलेज खोले हैं और समाज के वंचित वर्गों को शिक्षा प्रदान करने का प्रयास किया है।</h4> <br>


  <h3  style="color:green">राजनीतिक नेतृत्व और योगदान:  </h3>
  <h4> कुर्मी समाज के नेताओं ने देश की राजनीति में महत्वपूर्ण भूमिका निभाई है। सरदार वल्लभभाई पटेल जैसे महान नेता इसी समाज से थे, जिन्होंने देश की आजादी और एकता में महत्वपूर्ण योगदान दिया। कुर्मी समाज के नेताओं ने देश के विकास और समाज के हितों की रक्षा के लिए काम किया है।</h4><br>


  <h3  style="color:green"> आर्थिक योगदान और उद्यमिता:</h3>
  <h4> कुर्मी समाज के लोगों ने देश की अर्थव्यवस्था में महत्वपूर्ण योगदान दिया है। इस समाज के लोग विभिन्न क्षेत्रों में उद्यमी के रूप में भी कार्य कर रहे हैं और रोजगार के अवसर प्रदान कर रहे हैं। कुर्मी समाज के लोगों ने अपने उद्यमों के माध्यम से देश की आर्थिक प्रगति में योगदान दिया है।</h4><br>


  <h3  style="color:green">सामाजिक न्याय और समानता:  </h3>
  <h4> कुर्मी समाज ने हमेशा सामाजिक न्याय और समानता के लिए आवाज उठाई है। इस समाज के लोगों ने समाज में व्याप्त कुरीतियों और असमानताओं को दूर करने के लिए काम किया है। कुर्मी समाज के लोगों ने सामाजिक न्याय और समानता के लिए संघर्ष किया है और आगे भी करते रहेंगे।</h4><br>

 
  <h3  style="color:green"> सांस्कृतिक विविधता और समृद्धि:</h3>
  <h4>कुर्मी समाज की सांस्कृतिक विविधता और परंपराएं देश की समृद्धि हैं। इस समाज के लोग अपनी संस्कृति और परंपराओं को सहेजकर रखे हुए हैं और देश की सांस्कृतिक विविधता में योगदान दे रहे हैं। कुर्मी समाज के लोग अपनी संस्कृति और परंपराओं को दुनिया भर में फैलाने का प्रयास कर रहे हैं। </h4><br>


  <h3  style="color:green"> शिक्षा और स्वास्थ्य के क्षेत्र में योगदान:</h3>
  <h4> कुर्मी समाज ने शिक्षा और स्वास्थ्य के क्षेत्र में भी महत्वपूर्ण कार्य किए हैं। इस समाज के लोग शिक्षा और स्वास्थ्य के क्षेत्र में उल्लेखनीय कार्य कर रहे हैं और समाज की सेवा कर रहे हैं। कुर्मी समाज के लोगों ने शिक्षा और स्वास्थ्य के क्षेत्र में नए आयाम स्थापित किए हैं।</h4><br>


  <h3  style="color:green"> राष्ट्रीय एकता और अखंडता:</h3>
  <h4>कुर्मी समाज ने राष्ट्रीय एकता और अखंडता के लिए हमेशा काम किया है। इस समाज के लोगों ने देश की एकता और अखंडता के लिए महत्वपूर्ण योगदान दिया है और आगे भी देते रहेंगे। कुर्मी समाज के लोग देश की एकता और अखंडता के समाज के लोग देश की एकता और अखंडता के लिए काम करते रहेंगे और देश के विकास में योगदान देंगे।</h4> <br>

</div>








<!----  end----->




        
<div class="container-fluid">
  <img src="{% static 'images/hrline.png' %}" width="100%">
</div>
   <!-------------Image Section   Image ----------------------->

        <div class="text-center">
        <h2 style="color: red;" class="m-0 p-0">Gallery</h2>
        <hr>
        <div class="container m-0 p-0">
          <div class="float-start">
        <a href="/gallery1"> <button class="btn btn-outline-danger rounded-4">15-August-2025 More Images
        <img src="{% static 'images/15-August-25/1.jpeg' %}" height="50px;" width="80px"class="rounded-4">
        <img src="{% static 'images/15-August-25/2.jpeg' %}" height="50px;" width="80px"class="rounded-4">
        </button>
        </a>

        <a href="/gallery2"> <button class="btn btn-outline-danger rounded-4">31-Jan-2025 More Images
        <img src="{% static 'images/31jan_BrahmanBhoj/1.jpg' %}" height="50px;" width="80px"class="rounded-4">
        <img src="{% static 'images/31jan_BrahmanBhoj/21.jpg' %}" height="50px;" width="80px"class="rounded-4">
      </button> </a>
    </div>
  </div>
  <br><br>


  {% endblock %}

 {% block register %} {% endblock %}
 <br><br>
<!---------End of Content Part---->
{% block footer %}

<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
</style>
<div class=" footer bg-info">
<span> Designed by Dhiraj Patel &#169 COPYRIGHT RESERVED 2025</span>
</div>
 </body>
 </html>
{% endblock %}
