{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery2{% endblock title %}
{% block forgot %}  {% endblock %}
{% block content %} 

{% block mainbody %}{% endblock %}
 <div class=" container-fluid text-center ">
        <h2 style="color: red;">Patel Jayati 31-Oct-2025</h2>
        <hr>
      <div class="accordion-body">
        <a href="{% static 'images/31-Oct-25_Patel Jyanti/1.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/1.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/2.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/2.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/3.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/3.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
       <a href="{% static 'images/31-Oct-25_Patel Jyanti/4.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/4.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
       <a href="{% static 'images/31-Oct-25_Patel Jyanti/5.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/5.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/6.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/6.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
     
       <a href="{% static 'images/31-Oct-25_Patel Jyanti/7.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/7.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/8.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/8.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/9.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/9.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
    <a href="{% static 'images/31-Oct-25_Patel Jyanti/10.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/10.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
    <a href="{% static 'images/31-Oct-25_Patel Jyanti/11.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/11.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
    <a href="{% static 'images/31-Oct-25_Patel Jyanti/12.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/12.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>

    <a href="{% static 'images/31-Oct-25_Patel Jyanti/13.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/13.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
    <a href="{% static 'images/31-Oct-25_Patel Jyanti/14.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/14.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
     <a href="{% static 'images/31-Oct-25_Patel Jyanti/15.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/15.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/16.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/16.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/17.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/17.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/18.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/18.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/19.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/19.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/20.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/20.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/21.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/21.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
       <a href="{% static 'images/31-Oct-25_Patel Jyanti/22.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/22.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/23.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/23.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
      <a href="{% static 'images/31-Oct-25_Patel Jyanti/24.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/24.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
       <a href="{% static 'images/31-Oct-25_Patel Jyanti/25.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/25.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/31-Oct-25_Patel Jyanti/26.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/26.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
         <a href="{% static 'images/31-Oct-25_Patel Jyanti/27.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/27.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
          <a href="{% static 'images/31-Oct-25_Patel Jyanti/28.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/28.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
           <a href="{% static 'images/31-Oct-25_Patel Jyanti/29.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/29.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
            <a href="{% static 'images/31-Oct-25_Patel Jyanti/30.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/30.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
             <a href="{% static 'images/31-Oct-25_Patel Jyanti/31.jpeg' %}"><img src="{% static 'images/31-Oct-25_Patel Jyanti/31.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
          <a href= "{% static 'images/31-Oct-25_Patel Jyanti/2.mp4' %}"> <video width="320" height="150" controls>
        <source src="{% static 'images/31-Oct-25_Patel Jyanti/2.mp4' %}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        </video>
        </a>
        <a href= "{% static 'images/31-Oct-25_Patel Jyanti/1.mp4' %}"> 
        <video width="320" height="150" controls><source src="{% static 'images/31-Oct-25_Patel Jyanti/1.mp4' %}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        </video>
        </a>
      </div>
    </div>
  

{% endblock %}