{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery1{% endblock title %}
{% block forgot %}  {% endblock %}
{% block mainbody %}{% endblock %}
{% block content %}
<div class=" container-fluid text-center ">
        <h2 style="color: red;">Gallery 15th August 2025</h2>
        <hr>
        <div class="accordion-body">
        <a href="{% static 'images/15-August-25/1.jpeg' %}"><img src="{% static 'images/15-August-25/1.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/2.jpeg' %}"><img src="{% static 'images/15-August-25/2.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/3.jpeg' %}"><img src="{% static 'images/15-August-25/3.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/4.jpeg' %}"><img src="{% static 'images/15-August-25/4.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/5.jpeg' %}"><img src="{% static 'images/15-August-25/5.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/6.jpeg' %}"><img src="{% static 'images/15-August-25/6.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>

        <a href="{% static 'images/15-August-25/7.jpeg' %}"><img src="{% static 'images/15-August-25/7.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/8.jpeg' %}"><img src="{% static 'images/15-August-25/8.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/9.jpeg' %}"><img src="{% static 'images/15-August-25/9.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/10.jpeg' %}"><img src="{% static 'images/15-August-25/10.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/11.jpeg' %}"><img src="{% static 'images/15-August-25/11.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/12.jpeg' %}"><img src="{% static 'images/15-August-25/12.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>

        <a href="{% static 'images/15-August-25/13.jpeg' %}"><img src="{% static 'images/15-August-25/13.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/14.jpeg' %}"><img src="{% static 'images/15-August-25/14.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/15.jpeg' %}"><img src="{% static 'images/15-August-25/15.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/16.jpeg' %}"><img src="{% static 'images/15-August-25/16.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/17.jpeg' %}"><img src="{% static 'images/15-August-25/17.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>
        <a href="{% static 'images/15-August-25/18.jpeg' %}"><img src="{% static 'images/15-August-25/18.jpeg' %}" height="150px;" width="269px"class="rounded-4"></a>

        <a href= "{% static 'videos/15-August-25/v1.mp4' %}"> <video width="320" height="240" controls>
        <source src="{% static 'videos/15-August-25/v1.mp4' %}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        </video>
        </a>

        <a href= "{% static 'videos/15-August-25/v2.mp4' %}"> <video width="320" height="240" controls>
        <source src="{% static 'videos/15-August-25/v2.mp4' %}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        </video>
        </a>
        <a href= "{% static 'videos/15-August-25/v3.mp4' %}"> <video width="320" height="240" controls>
        <source src="{% static 'videos/15-August-25/v3.mp4' %}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        </video>
        </a>
        <a href= "{% static 'videos/15-August-25/v4.mp4' %}"> <video width="320" height="240" controls>
        <source src="{% static 'videos/15-August-25/v4.mp4' %}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        </video>
        </a>
    </div>
  </div>
{% endblock %}