{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %} 
<br>
    <div class="container">
    <h2 style= "color: green; font-weight: bolder;">Change Password</h2>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-group" style= "color: red; border-radius: 20px;">
            {{ form.as_p }}
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary"> Back </a>
        <button type="submit" class="btn btn-success">Submit</button>
        
    </form>
</div>
{% endblock content %}
{% block mainbody %} {% endblock %}